*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

p {
	font-family: monospace;
	font-weight: 500;
	font-size: large;
	text-align: center;
}

#main {
	height: 100vh;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#controls {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#controls > button {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.sliderInput {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#sorts {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 1rem;
}

.sortContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.title {
	font-size: x-large;
}

.sortField {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-grow: 1;
}

.bar {
	background-color: red;
	border-left: 1px solid black;
	border-top: 1px solid black;
	flex-grow: 1;
}
